<article class="post">
    <div class="post-title fs-5 fw-bold mb-2">
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
    </div>
    <div class="post-body mb-1">
        {{bodyText}}
        <br>
        {{photoUrl}}
    </div>
    <div class="post-info">
        {{user.username}} on {{created_at}}
    </div>
</article>

